@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif !important;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  background-color: black;
}

.container-fadeout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
  background-color: black;
}

.box {
  position: relative;
  background: url("https://media.discordapp.net/attachments/944019971527278623/1111774652193316874/exportdex.png?width=901&height=676");
  background-size: cover;
}

.box2 {
  position: relative;
  background: url("https://i.ibb.co/tMwVvG1/dexroom2.png");
  repeat: none;
  background-size: cover;
}

.inner-box {
  position: absolute;
  z-index: 5;
  background-repeat: none;
  background-size: cover;
  /* border: 5px solid red; */
}

.table1 {
  position: absolute;
  bottom: 310px;
  right: 233px;
  width: 120px;
  height: 70px;

  z-index: 1;
}

.table2 {
  position: absolute;
  bottom: 210px;
  right: 233px;
  width: 120px;
  height: 70px;

  z-index: 1;
}

.bottom-right-div {
  border: 1px solid black;
}

.obstacle {
  position: absolute;
  top: 250px;
  left: 115px;
  /* border: white 2px solid; */
  background: url("https://em-content.zobj.net/source/animated-noto-color-emoji/356/sparkles_2728.gif" );
  background-size: 50%;
  background-repeat:no-repeat;
  background-position:70% 40%;
}

.board {
  position: absolute;
  top: 150px;
  left: 320px;
  /* border: 2px solid black; */
  background: url("https://em-content.zobj.net/source/animated-noto-color-emoji/356/sparkles_2728.gif" );
  background-size: 20%;
  background-repeat:no-repeat;
  background-position:center;
}

.modal {
  position: absolute;
  top: 0;
  margin-top: -100px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 6;
  animation: fadeIn 0.5s;
}

.modalRoom2 {
  position: absolute;
  top: 0;
  margin-top: 100px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 6;
  animation: fadeIn 0.5s;
}

.modal-content {
  background: rgb(222, 16, 93);
  background: linear-gradient(
    145deg,
    rgb(229, 100, 147) 0%,
    rgb(213, 73, 176) 52%
  );
  width: 700px;
  height: 500px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 5);
  border-radius: 60px;
}

.textBox {
  position: absolute;
  top: 400px;
  left: 45px;
  width: 700px;
  height: 170px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: 2px solid white;
  z-index: 6;
}

.textBoxNeko {
  position: absolute;
  top: 400px;
  left: 45px;
  width: 700px;
  height: 170px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid black;
  z-index: 8;
}

.textSelect {
  position: absolute;
  top: 120px;
  margin-left: 150px;
  border: 1px solid white;
  height: 30px;
  width: 100px;
  color: white;
  text-align: center;
  line-height: 1.8;
}

.textSelect2 {
  position: absolute;
  top: 120px;
  border: 1px solid white;
  color: white;
  height: 30px;
  width: 100px;
  margin-left: 410px;
  text-align: center;
  line-height: 1.8;
}

.textSelect:hover {
  border: 1px solid red;
}

.textSelect2:hover {
  border: 1px solid red;
}

.swapBox {
  color: white;
  text-shadow: 2px 2px black;
  border: 2px solid black;
  width: 40%;
  height: 100%;
  border-radius: 5px;
  margin: 10px;
  animation: fadeIn 0.5s;
  background: rgba(170, 51, 106, 0.7);
  padding-bottom: 10px;
}

.asset {
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  width: 220px;
  margin-left: 2%;
  margin-bottom: 2px;
  padding-left: 25px;
  text-decoration: none;
  background: rgba(170, 51, 106, 1);
  color: white;
  text-shadow: 2px 2px black;
  font-size: 20px;
}

.messageInput {
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 2%;
  margin-bottom: 2px;
  text-decoration: none;
  background: rgba(170, 51, 106, 1);
  color: white;
  padding: 5px;
  text-shadow: 2px 2px black;
  font-size: 12px;
}
.swapButton {
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
  width: 243px;
  margin-left: 2%;
  margin-bottom: 2px;
  margin-top: 10px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.swapButton:hover {
  cursor: pointer;
  background: #4a126b;
  transition: all 0.2s ease-in-out;
  color: white;
}
.swapBox span:nth-of-type(2):hover {
  font-weight: 900;
  transition: all 0.2s linear;
  background: #4a126b !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.selectAsset1 {
  position: absolute;
  margin-left: 150px;
  margin-bottom: -100px;
  margin-top: -40px;
}

.selectAsset2 {
  position: absolute;
  margin-left: 150px;
  margin-bottom: -100px;
  margin-top: 15px;
}

.neko {
  max-width: 60px;
  max-height: 80px;
  position: absolute;
  top: 200px;
  left: 300px;
}

.nekoSparkle{
  width: 60px;
  height: 80px;
  position: absolute;
  top: 200px;
  left: 300px;
  background: url("https://em-content.zobj.net/source/animated-noto-color-emoji/356/sparkles_2728.gif" );
  background-size: 100%;
  background-repeat:no-repeat;
  background-position:center;
}

.worker {
  width: 70px;
  height: 70px;
  position: absolute;
  margin-bottom: 50px;
  margin-left: -680px;
}

.nekoBig {
  max-width: 400px;
  max-height: 400px;
  position: absolute;
  margin-bottom: 100px;
  margin-right: 80px;
  padding-bottom: 50px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  font-weight: bold;
  display: flex;
  justify-content: left;
  margin-top: 15px;
  margin-bottom: 15px;
}

.headerItem {
  padding-right: 150px;
}

.pool {
  height: 60px;
  padding-left: 10px;
  line-height: 4;
}

table {
  width: 100%;
  height: 80%;
  border-collapse: collapse;
}
th,
td {
  border-bottom: 1px solid black;
  padding-left: 20px;
  text-align: left;
}
th {
  font-weight: bold;
}

.tokenIcon {
  height: 25px;
  width: 25px;
  margin: 2px;
}

.switchAssets {
  position: absolute;
  margin-left: 100px;
  margin-top: 40px;
  height: 40px;
  width: 40px;

  z-index: 10;
}

.poolContent {
  display: flex;
  animation: fadeIn 0.5s;
  height: 60px;
  padding-top: 20px;
  color: white;
  /* text-shadow: 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black,
    0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black; */
}

.poolContent:hover {
  scale: 1.01;
  /*slow animation*/
  transition: 0.5s;
}

.poolHighlight:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.tab-content {
  display: flex;
  justify-content: center;
  background: none;
  animation: fadeIn 0.5s;
}

.tab-container-1 {
  animation: fadeIn 0.5s;
  padding: 20px;
  background: url("https://i.ibb.co/xFMnghf/DALL-E-2023-05-17-20-06-06-pattern-of-chocolate-chip-cookies-colorful-pixel-art-sprites.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  box-shadow: inset 0 0 30px #000000;
  border-radius: 60px;
}

.tab-container-2 {
  animation: fadeIn 0.5s;
  padding: 20px;
  background: url("https://i.ibb.co/jWCD5p1/image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  box-shadow: inset 0 0 30px #000000;
  border-radius: 60px;
}

.tab-container-3 {
  animation: fadeIn 0.5s;
  padding: 20px;
  background: url("https://i.ibb.co/n3HzHTG/DALL-E-2023-05-17-20-08-42-pattern-of-sandwiches-colorful-pixel-art-sprites.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  box-shadow: inset 0 0 30px #000000;
  border-radius: 60px;
}

.tab-container-4 {
  animation: fadeIn 0.5s;
  padding: 20px;
  background: url("https://i.ibb.co/BVyQjcZ/DALL-E-2023-05-17-20-10-32-pattern-of-strudels-colorful-pixel-art-sprites.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  box-shadow: inset 0 0 30px #000000;
  border-radius: 60px;
}

.poolTab {
  background: none;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: none;
  border-bottom: none;
}

.active {
  color: white;
  border: none;
  background: none;
  text-shadow: 1px 1px 1px #000000;
  border-bottom: none;
  width: 100px;
  height: 30px;
  border: 2px solid black;
  background: rgba(170, 51, 106, 0.7);
  border-radius: 5px;
}

.inactive {
  text-shadow: 1px 1px 1px #fff;
  padding: 10px;
  border: none;
  background: none;
  width: 100px;
  height: 30px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.typedOutWrapper {
  display: inline-block;
  margin-left: -300px;
  margin-top: 35px;
}

.typedOut {
  width: 0;
  overflow: hidden;
  border-right: solid white 5px;
  white-space: nowrap;
  animation: typing 1s steps(20, end) forwards,
    blink-caret 0.75s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.poolView {
  padding: 15px;
}

.poolSection {
  background-size: cover;
  /* background: url("https://i.ibb.co/7JLZFRM/image.png"); */
  background-repeat: no-repeat;
  background-position: center;
  /* box-shadow: inset 0 0 20px #000000; */
  text-shadow: 1px 1px 1px #000000;
}

.poolSection:hover,
.poolSection2:hover,
.poolSection3:hover,
.poolSection4:hover {
  transition: all 0.1s;
  /* box-shadow: inset 0 0 10px #000000; */
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  /* filter: drop-shadow(2px 4px 6px black) saturate(0.8) hue-rotate(4deg); */
}

.poolSection2 {
  background-size: cover;
  /* background: url("https://i.ibb.co/mS04HmT/image.png"); */

  background-repeat: no-repeat;
  background-position: center;
  /* box-shadow: inset 0 0 20px #000000; */
  text-shadow: 1px 1px 1px #000000;
}

.poolSection3 {
  background-size: cover;
  /* background: url("https://i.ibb.co/WBnRDy8/image.png"); */
  background-repeat: no-repeat;
  background-position: center;
  /* box-shadow: inset 0 0 20px #000000;*/
  text-shadow: 1px 1px 1px #000000;
}

.poolSection4 {
  background-size: cover;
  /* background: url("https://i.ibb.co/Y02gCXF/image.png"); */
  background-repeat: no-repeat;
  background-position: center;
  /* box-shadow: inset 0 0 20px #000000; */
  text-shadow: 1px 1px 1px #000000;
}

.login {
  height: 600px;
  width: 800px;
  background: url("https://preview.redd.it/qn8hkb2w49j91.gif?width=640&crop=smart&format=png8&s=e4b046aa81a6683e4ef4fc3363ae9f59ae3fc560");

  /* background: linear-gradient(-45deg, #0c134f, #1d267d, #5c469c, #d4adfc); */

  color: white;
  text-align: center;
}

.login-fadeout {
  height: 600px;
  width: 800px;
  background: url("https://preview.redd.it/qn8hkb2w49j91.gif?width=640&crop=smart&format=png8&s=e4b046aa81a6683e4ef4fc3363ae9f59ae3fc560");
  color: white;
  text-align: center;
  animation: fadeOut ease 1s;
}

.overlay-black {
  /*fade in from black*/
  animation: fadeOut ease 2s;
  background-color: #000000;
  height: 600px;
  width: 800px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  opacity: 0;
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.title-container {
  /* background: rgba(255, 255, 255, 0.7);
   */
  background: linear-gradient(to right, #16a085, #1abc9c);

  border-radius: 15px;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100px;
}
.dapp-title {
  font-size: 48px;
  background: linear-gradient(-60deg, #07213f, #103551);
  z-index: 999;
  /* color: #fff !important; */

  /* background: linear-gradient(-60deg, #faa51a, #f6b92d); */
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.connect-button--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
}
.login-button {
  padding: 25px;
  margin-top: 50px;
  border-radius: 50px;
  width: 200px;
}

.leaveRoom1 {
  position: absolute;
  right: 100px;
  top: 70px;
  height: 108px;
  /* border: 1px solid #fff; */
  /*background: #0a0a0a;
  color: white;
  display: flex; */
  /* justify-content: center;
  align-items: center; */
  width: 80px;
  /* font-weight: bold; */
  background: url("https://em-content.zobj.net/source/animated-noto-color-emoji/356/sparkles_2728.gif");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: bottom center;
}
.leaveRoom1 span {
  transform: rotate(-90deg);
}
.leaveRoom2 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 104px;
  font-weight: bold;
  z-index: 999;
  background: url("https://em-content.zobj.net/source/animated-noto-color-emoji/356/sparkles_2728.gif");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: bottom center;

}
.leaveRoom2 span {
  transform: rotate(90deg);
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.modalButton {
  background: rgba(170, 51, 106, 1);
  border-radius: 16px;
  padding: 5px 20px;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.modalButton:hover {
  background: rgba(170, 51, 106, 0.8);
  border: 1px solid white;
  transition: all 0.2s;
}

.infoPanel {
  position: absolute;
  /* margin-top: -120px;
  margin-left: 410px; */
  top: 2%;
  right: 5%;
  max-width: 250px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000000;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.typedOutWrapperInfo {
}

.typedOutInfo {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1s steps(20, end) forwards,
    blink-caret 0.75s step-end infinite;
}

.infoPanelLeaderboard {
  position: absolute;
  top: 2%;
  right: 5%;
  max-width: 250px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000000;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.infoPanelControls {
  position: absolute;

  top: 2%;
  right: 5%;
  max-width: 250px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000000;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.sticky-notes--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 90%;
  margin: 0 auto;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  overflow-y: scroll;
  height: 400px;
  padding-top: 50px;
  padding-right: 20px;
}
.note {
  position: relative;
  border: 1px solid black;
  text-align: center;
  width: 150px;
  height: 150px;

  background-color: yellow;

  border: 1px solid black;
  color:black;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
  margin-bottom:10px;

/* 
  filter: invert(100%) drop-shadow(4px 0px 0px 10px black); */
  overflow-y: -moz-scrollbars-none;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll;
}

.note::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.sticky-notes--container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  background-color: #fafafa;
}

.sticky-notes--container::-webkit-scrollbar {
  width: 12px;
  background-color: #fafafa;
}

.sticky-notes--container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(230, 219, 9);
  background-image: -webkit-linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4) 50%,
    transparent,
    transparent
  );
}

.swapBox a {
  text-decoration: none;
  color: #fafafa;
}
.swapBox a:hover {
  transition: all 0.2s;
  color: #f6aaf1;
}

.aaveStake {
  height: 100px;
  width: 100px;
  margin-top: 450px;
  margin-left: 650px;
  background: url("https://em-content.zobj.net/source/animated-noto-color-emoji/356/sparkles_2728.gif");
  background-size: cover;
  background-repeat: no-repeat;
} 

.aaveStakeCat {
  position:absolute;
  height: 100px;
  width: 100px;

  margin-left: 650px;
  margin-top:-100px;

  background: url("https://i.ibb.co/bs2x6b8/ezgif-com-gif-maker.gif");
  background-size:cover;
}

.poolPic {
  max-height: 50px;
  max-width: 50px;
  /*image animates by hovering up and down slightly infintely*/
  animation: hover 1.4s ease-in-out infinite;
}

@keyframes hover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.moving-div {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: red;
  animation: moveDiv 3s infinite;
}

@keyframes moveDiv {
  0% {
    top: 0;
    left: 0;
  }

  100% {
    top: calc(600px - 50px);
    left: calc(800px - 50px);
  }
}


{/* image of nyan cat is animated by flying around the room, inside the div with class Box2.  */}
.nyanCat {
  position: absolute;
  width: 100px;
  height: 100px;
  background: url("https://media.tenor.com/xzjlrhYq_lQAAAAj/cat-nyan-cat.gif");
  background-size: cover;
  background-repeat: no-repeat;
  animation: moveDiv 3s infinite;

}

@keyframes moveDiv {
  0% {
    top: 0;
    left: 0;
  }

  20% {
    top: calc(100px - 50px);
    left: calc(200px - 50px);
  }


  100% {
    top: calc(30px - 50px);
    left: calc(800px - 50px);
  }
}


